body {
	padding: 0;
	margin: 0;
	background-color: #e5e6e8;
}
.navlist>li {
	display: inline-block;
	position: relative;
	left: 32em;
	bottom: 0.64em;
	padding: 0.5em 0.2em 0.55em 0.2em;
	border-collapse: separate;
	border-spacing: 0 0;
}
ul a {
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	text-align: center;
	padding: 0.5em 0.2em 0.55em 0.2em;
	font-family: Corbel, Arial, sans-serif;
}
ul a:hover {
	color: #fff;
	background-color: #a02f24;
	transition: 0.3s;
}
ul a:active {
	background-color: #333333;
}
.nav>ul {
	margin: 0;
	background-color: #434444;
	height: 2.85em;
}
.logo {
	position: relative;
	top: 2px;
	width: 150px;
	height: 39px;
}
.sign {
	padding-bottom: 0.1em;
}
.sign:hover {
	background-color: rgba(0, 0, 0, 0);
}
.footer {
	background-color: #434444;
	height: 2.6em;
	margin-top: 3em;
}
.foot{
	color: #fff;
    text-align:right;
    margin-right: 2em;
    position: relative;
    top: 1.1em;
    font-size: 0.7em;
    font-family: Corbel, Arial, sans-serif;
}
form{
	margin-left: 14.5em;
	font-family: Corbel, Arial, sans-serif;
	font-size: 1.2em;
}
hr{
	width: 50em;
}
.title{
	width: 6em;
	text-align: right; 
	padding-right: 0.85em;
	font-weight: bolder;
}
h1{
	font-family: Corbel, Arial, sans-serif;
}
.submit{
	border-radius: 0.5em;
	width: 6em;
	height: 2em;
	font-weight: bolder;
	cursor: pointer;
}
.submit:hover{
	background-color: #a02f24;
	color:white;
}
.submit:active{
	border-style: inset;
}
.footer {
	background-color: #434444;
	height: 2.6em;
	margin-top: 3em;
}
.foot{
	color: #fff;
    text-align:right;
    margin-right: 2em;
    position: relative;
    top: 1.1em;
    font-size: 0.7em;
    font-family: Corbel, Arial, sans-serif;
}
.copy{
	color: #fff;
    text-align:left;
    margin-right: 2em;
    position: relative;
    bottom: 1.1em;
    font-size: 0.7em;
    font-family: Corbel, Arial, sans-serif;
}
.box {
	border-radius: 0.7em;
}
.para {
	font-weight: bolder;
}
.gender {
	font-weight: bolder;
}
.dob {
	font-weight: bolder;
}