body {
	padding: 0;
	margin: 0;
}
.navlist>li {
	display: inline-block;
	position: relative;
	left: 32em;
	bottom: 0.64em;
	padding: 0.5em 0.2em 0.55em 0.2em;
	border-collapse: separate;
	border-spacing: 0 0;
}
ul a {
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	text-align: center;
	padding: 0.5em 0.2em 0.55em 0.2em;
	font-family: Corbel, Arial, sans-serif;
}
ul a:hover {
	color: #fff;
	background-color: #a02f24;
	transition: 0.3s;
}
ul a:active {
	background-color: #333333;
}
.nav>ul {
	margin: 0;
	background-color: #434444;
	height: 2.85em;
}
.logo {
	position: relative;
	top: 2px;
	width: 150px;
	height: 39px;
}
.sign {
	padding-bottom: 0.1em;
}
.sign:hover {
	background-color: rgba(0, 0, 0, 0);
}
.heading {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 11em;
	font-size: 4em;
	margin-top: 2.5em;
	color: #a02f24;
	-webkit-text-stroke: 1px black;
	font-family: "Century Gothic", Arial;
}
.banner {
	background-image: url("images/apple_products.jpg");
	height: 34em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	border: 1px solid black;
}
hr {
	margin-top: 3.1em;
	width: 50%;
	height: 1px;
}
h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	font-family: Corbel, Arial, sans-serif;
	color: #a02f24;
	margin-top: 1.8em;
	font-weight: lighter;
}
.prods a {
	text-align: center;
	border-radius: 0.9em;
	background-color: #484a4c;
	margin-left: 0.8em;
	margin-right: 0.8em;
	padding: 0.3em 0.4em;
	color: #fff;
	font-family: Corbel, Arial;
	box-shadow: 0.2em 0.2em 0.2em #777777;
}
.prods a:hover {
	color: #fff;
	background: -webkit-linear-gradient(#a02f24 , #434444);
}
.prods a:active {
	background: -webkit-linear-gradient(#434444 , #a02f24);
}
.prods {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.6em;
}
p img {
	width: 8%;
	height: 8%;
}
h4 {
	font-family: Corbel, Arial, sans-serif;
	font-size: 1.5em;
	border-bottom: 0.05em solid black;
	padding-bottom: 0.5em;
	padding-left: 0.6em;
}
.lat_dev {
	margin-left: auto;
	margin-right: auto;
}
.ip_8plus, .ip_8, .ip_10 {
	display: inline-block;
	margin-left: 1.8em;
	margin-right: 1.8em;
}
.ip_8plus {
	width: 5.5%;
	height: 5.5%;
}
.ip_8 {
	width: 5%;
	height: 5%;
}
.ip_10 {
	width: 7.2%;
	height: 7.2%;
}
.ip_8:hover, .ip_8plus:hover, .ip_10:hover {
	transform: scale(1.2);
	transition: 0.4s;
}
.ipad_9_7 {
	width: 8%;
	height: 8%;
}
.ipad_pro_105 {
	width: 11.6%;
	height: 11.6%;
}
.ipad_pro_105, .ipad_9_7 {
	margin-left: 1.8em;
	margin-right: 1.8em;
}
.ipad_pro_105:hover, .ipad_9_7:hover {
	transform: scale(1.2);
	transition: 0.4s;
}
.macbook_2017 {
	width: 15%;
	height: 15%;
}
.macbook_pro_tb {
	width: 16%;
	height: 16%;
}
.macbook_pro_tb, .macbook_2017 {
	margin-left: 1.8em;
	margin-right: 1.8em;
}
.macbook_2017:hover, .macbook_pro_tb:hover {
	transform: scale(1.2);
	transition: 0.4s;
}
.imac_5k, .imac_pro {
	width: 14%;
	height: 14%;
	margin-left: 1.8em;
	margin-right: 1.8em;
}
.imac_5k:hover, .imac_pro:hover {
	transform: scale(1.2);
	transition: 0.4s;
}
.watch_3 {
	width: 9%;
	height: 9%;
	margin-left: 1.8em;
	margin-right: 1.8em;
}
.watch_3:hover {
	transform: scale(1.2);
	transition: 0.4s;
}
.touch_6 {
	margin-left: 1.8em;
	margin-right: 1.8em;
	height: 5.5%;
	width: 5.5%;
}
.touch_6:hover {
	transform: scale(1.2);
	transition: 0.4s;
}
.footer {
	background-color: #434444;
	height: 2.6em;
	margin-top: 3em;
}
.foot{
	color: #fff;
    text-align:right;
    margin-right: 2em;
    position: relative;
    top: 1.1em;
    font-size: 0.7em;
    font-family: Corbel, Arial, sans-serif;
}
.copy{
	color: #fff;
    text-align:left;
    margin-right: 2em;
    position: relative;
    bottom: 1.1em;
    font-size: 0.7em;
    font-family: Corbel, Arial, sans-serif;
}